body{
  font-family: 'Roboto Condensed', sans-serif;
}

/* NAVBAR */

.logo{
  height: 3%;
  width: 3%;
}

@media screen and (max-width: 760px) {
  .logo{
    height: 15%;
    width: 15%;
  }
}

.background-gradient{
  height: 600px;
  width: 100%;
  margin-bottom: 20px;
  background: rgb(188,5,158);
  background: linear-gradient(45deg, rgba(188,5,158,1) 0%, rgba(255,171,49,1) 50%, rgba(86,55,220,1) 100%);
}

.logo-270{
  height: 70%;
  margin:0;
  position: relative;
  top: 310px;
  right: 10px;
}

@media screen and (max-width: 760px) {
  .logo-270{
    height: 10rem;
    width: 25rem;
    margin: 0;
    position: relative;
    top: 490px;
    right: 10px;
  }
}

h1 {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  background: -webkit-linear-gradient(354deg, rgba(188,5,158,1) 0%, rgba(255,171,49,1) 33%, rgba(86,55,220,1) 83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.video{
  height: 100%;
  background-color: black;
}
.video-trailer{
  height: 100vh;
  width: 100%;
}


footer{
  margin-top: 30px;
}